// Pack d'icônes standars pour l'icône de l'application
100 ICON "bin/Release/root/trhuKaintern/ykaune/mainIconBig.ico"
101 ICON "bin/Release/root/trhuKaintern/ykaune/mainIconNormal.ico"
102 ICON "bin/Release/root/trhuKaintern/ykaune/mainIconSmall.ico"
// Pack bonus pour ceux qui savent changer l'icône d'un exécutable
103 ICON "bin/Release/root/trhuKaintern/ykaune/altIconHap.ico"
104 ICON "bin/Release/root/trhuKaintern/ykaune/altIconLuigimmonde.ico"
105 ICON "bin/Release/root/trhuKaintern/ykaune/altIconTrobelpoule.ico"
106 ICON "bin/Release/root/trhuKaintern/ykaune/altIconRaoul.ico"
//103 ICON "bin/Release/root/trhuKaintern/ykaune/altIcon.ico"
