// Pack d'icônes standars pour l'icône de l'application
100 ICON "root/trhuKaintern/ykaune/mainIcon.ico"
// Pack bonus pour ceux qui savent changer l'icône d'un raccourci ou de l'exécutable
101 ICON "root/trhuKaintern/ykaune/KShAltIconHap.ico"
102 ICON "root/trhuKaintern/ykaune/KShAltIconLuigimmonde.ico"
103 ICON "root/trhuKaintern/ykaune/KShAltIconTrobelpoule.ico"
104 ICON "root/trhuKaintern/ykaune/KShAltIconRaoul.ico"
105 ICON "root/trhuKaintern/ykaune/KShAltIconDora.ico"
106 ICON "root/trhuKaintern/ykaune/KShAltIconPwet.ico"
//107 ICON "root/trhuKaintern/ykaune/KShAltIcon.ico"
